@page
@model NameModel
@{
    ViewData["Title"] = "Name-On";
}


<main role="main" class="container">

      <div class="starter-template">
        <h1 id="h1A">@Model.Name</h1>
        <!-- <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
      </div>

    </main><!-- /.container -->


<script>
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'https://wild-mascot-730.azurewebsites.net/api/generate', true);
  //set cors headers
  xhr.setRequestHeader('Access-Control-Allow-Origin', '*');

  xhr.onload = function () {
    document.getElementById('h1A').textContent = this.responseText;
  };

  xhr.send(null);
</script>