@inherits LayoutComponentBase

<div class="body-content">
    <main role="main" class="container">
        @Body
    </main>
    <footer>
        <p>&copy; 2021 - Clint Parker</p>
    </footer>
</div>
